<div class="hero-unit" id="hero-main">
  


  <h1>Find a show</h1>

  <div id="form-main">
    <%= form_tag show_search_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search], :id => "textfield-main" %>
      <%= submit_tag "Search", :name => nil, :class => "btn btn-large" %>
    <% end %>
  </div>

  <h5>
    This is a really early version. Please 
    <%= mail_to "jypepin@gmail.com", "send" %> 
    any idea or bugs. Thanks!
  </h5>

  <% if flash[:error] %>
    <div class="alert alert-error">
      <%= flash[:error] %>
    </div>
  <% end %>

</div>
