<% @show.seasons.each do |season| %>
    <table class="table table-striped table-hover table-condensed" <%= "id=#{season.number}" %>>
      <caption>Season <%= season.number %></caption>
      <thead>
        <tr>
          <th width="2%">#</th>
          <th width="20%">Title</th>
          <th width="63%">Plot</th>
          <th width="10%">Air time</th>
          <th width="5%">Status</th>
        </tr>
      </thead>
      <tbody>
        <% season.episodes.each do |ep| %>
          <% if @user && ep.seen?(@user) %>
            <tr class="success">
          <% else %>
            <tr>
          <% end %>
            <td><%= ep.number %></td>
            <td><%= ep.name %></td>
            <td><%= ep.plot %></td>
            <td><%= ep.air_date %></td>
            <td style="text-align:center;">
              <% if user_signed_in? && !@user.episodes.include?(ep) %>
                <%= link_to '<i class="icon-remove"></i>'.html_safe, episodes_users_path(:episode_id => ep.id,
                                                        :show_id => @show.id), 
                                    :method => :post %>
              <% elsif user_signed_in? && @user.episodes.include?(ep) %>
                <%= link_to '<i class="icon-ok"></i>'.html_safe, episodes_user_path(:id => ep.id,
                                                         :show_id => @show.id),
                                     :method => :delete %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>