<div class="hero-unit">
  <% if @show.banner %>
    <%= image_tag @show.banner %>
  <% else %>
    <%= image_tag "http://lorempixel.com/600/150/" %>
    <h2><%= @show.name %></h2>
  <% end %>

  <% if current_user %>
    <%= render partial: 'track', locals: { show: @show } %>
  <% end %>

  <section id="tabs">
    <ul class="nav nav-tabs" id="seasons-tabs">
      <% @show.seasons.each do |season| %>
        <li>
          <a href=<%= "##{season.number}" %>>Season <%= season.number %></a>
        </li>
      <% end %>
    </ul>

    <%= render 'episodes_list' %>

  </section>

</div>

